streamlit
pandas
openpyxl
chromadb
python-dotenv
langchain-groq
langchain-core
langchain-classic
sentence-transformers
torch
torchvision
psycopg2-binary
streamlit_js_eval
selenium
webdriver_manager